In [2]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import pprint
import re
import requests as req

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

PyMongo query to keep only companies with office longitude and latitude information available:

In [3]:
query={'$and': [{"offices.latitude":{'$not':{'$eq':None}}},{"offices.longitude":{'$not':{'$eq':None}}},{"offices.latitude":{'$exists':True}},{"offices.longitude":{'$exists':True}}]}
projection={'_id':0,'category_code':1,'name':1,'number_of_employees':1,'founded_year':1,'deadpooled_year':1,'tag_list':1,'description':1,'total_money_raised':1,"offices.latitude":1,"offices.longitude":1}
with_geoloc=db.companies.find(query,projection)

Make a dataframe from the previous query:

In [4]:
df=pd.DataFrame(with_geoloc)

Re-order columns:

In [5]:
df=df[['name','category_code','description','founded_year','deadpooled_year','number_of_employees','total_money_raised','tag_list','offices']]
df.head(3)

,name,category_code,description,founded_year,deadpooled_year,number_of_employees,total_money_raised,tag_list,offices
0,AdventNet,enterprise,Server Management Software,1996.0,2.0,600.0,$0,,"[{'latitude': 37.692934, 'longitude': -121.904..."
1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,"wiki, seattle, elowitz, media-industry, media-...","[{'latitude': 47.603122, 'longitude': -122.333..."
2,Zoho,software,Online Business Apps Suite,2005.0,3.0,1600.0,$0,"zoho, officesuite, spreadsheet, writer, projec...","[{'latitude': 37.692934, 'longitude': -121.904..."

Get exchange rate from API to "clean" currency:

In [6]:
url="https://api.exchangeratesapi.io/latest"
query_params={"base":"USD","symbols":["CAD","EUR","GBP","SEK"]}

res = req.get(url,params=query_params)
content=res.json()
rates=content["rates"]

rates

{'CAD': 1.3124497992,
 'EUR': 0.8924587238,
 'GBP': 0.8029897367,
 'SEK': 9.490227577}

In [7]:
def money_dollars(s):
    mfloat=float(re.search("(\d*\.\d*|\d+)",s).group(1))
    if s.endswith("M"): mfloat*=1000000
    if s.endswith("B"): mfloat*=1000000000
    if s.endswith("k"): mfloat*=1000
    if s.startswith("C$"): mfloat*=1/rates["CAD"]
    if s.startswith("€"): mfloat*=1/rates["EUR"]
    if s.startswith("£"): mfloat*=1/rates["GBP"]
    if s.startswith("kr"): mfloat*=1/rates["SEK"]
    return round(mfloat)

df["raised_money_dollars"]=df.copy()["total_money_raised"].apply(money_dollars)
df=df[['name','category_code','description','founded_year','deadpooled_year','number_of_employees','total_money_raised',"raised_money_dollars",'tag_list','offices']]
df.reset_index(inplace=True)
df.head(3)

,index,name,category_code,description,founded_year,deadpooled_year,number_of_employees,total_money_raised,raised_money_dollars,tag_list,offices
0,0,AdventNet,enterprise,Server Management Software,1996.0,2.0,600.0,$0,0,,"[{'latitude': 37.692934, 'longitude': -121.904..."
1,1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,39800000,"wiki, seattle, elowitz, media-industry, media-...","[{'latitude': 47.603122, 'longitude': -122.333..."
2,2,Zoho,software,Online Business Apps Suite,2005.0,3.0,1600.0,$0,0,"zoho, officesuite, spreadsheet, writer, projec...","[{'latitude': 37.692934, 'longitude': -121.904..."

In [8]:
offices_list=df.copy()[["index","offices"]]
offices_list_clean= pd.DataFrame(offices_list["offices"].tolist()).stack().reset_index(level=1, drop=True).reset_index(name='offices')

display(offices_list_clean.head(3))

   index                                            offices
0      0  {'latitude': 37.692934, 'longitude': -121.904945}
1      1  {'latitude': 47.603122, 'longitude': -122.333253}
2      1  {'latitude': 40.7237306, 'longitude': -73.9964...

In [9]:
df_offices=df.merge(offices_list_clean,left_on='index', right_on='index')
df_offices.head(3)

,index,name,category_code,description,founded_year,deadpooled_year,number_of_employees,total_money_raised,raised_money_dollars,tag_list,offices_x,offices_y
0,0,AdventNet,enterprise,Server Management Software,1996.0,2.0,600.0,$0,0,,"[{'latitude': 37.692934, 'longitude': -121.904...","{'latitude': 37.692934, 'longitude': -121.904945}"
1,1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,39800000,"wiki, seattle, elowitz, media-industry, media-...","[{'latitude': 47.603122, 'longitude': -122.333...","{'latitude': 47.603122, 'longitude': -122.333253}"
2,1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,39800000,"wiki, seattle, elowitz, media-industry, media-...","[{'latitude': 47.603122, 'longitude': -122.333...","{'latitude': 40.7237306, 'longitude': -73.9964..."

In [10]:
df_offices = df_offices.drop(["offices_x"], axis=1)
df_offices.rename(index=str, columns={"offices_y": "offices"},inplace=True)
df_offices.head(3)

,index,name,category_code,description,founded_year,deadpooled_year,number_of_employees,total_money_raised,raised_money_dollars,tag_list,offices
0,0,AdventNet,enterprise,Server Management Software,1996.0,2.0,600.0,$0,0,,"{'latitude': 37.692934, 'longitude': -121.904945}"
1,1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,39800000,"wiki, seattle, elowitz, media-industry, media-...","{'latitude': 47.603122, 'longitude': -122.333253}"
2,1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,39800000,"wiki, seattle, elowitz, media-industry, media-...","{'latitude': 40.7237306, 'longitude': -73.9964..."

In [18]:
def get_coords(data):
    data = data['offices']
#    return (len(data),data[0]['latitude'],data[0]['longitude'])

    # Only create the geoJSON object if all geodata is available
    principal = None
    if data['latitude'] and data['longitude']:
        principal = {
            "type":"Point",
            "coordinates":[data['longitude'], data['latitude']]
        }

    return {
        "lat": data['latitude'],
        "lng": data['longitude'],
        "geo_point": principal
    }


offices = df_offices[["offices"]].apply(get_coords, result_type="expand", axis=1)

In [21]:
df_geo=pd.concat([df_offices,offices], axis=1)
df_geo = df_geo.drop(["offices"], axis=1)

In [29]:
df_geo["category_code"]=df_geo["category_code"].fillna("None")
df_geo["description"]=df_geo["description"].fillna("None")
df_geo["description"]=df_geo["description"].fillna("None")
df_geo["tag_list"]=df_geo["tag_list"].fillna("None")
df_geo["founded_year"]=df_geo["founded_year"].fillna(0)
df_geo["deadpooled_year"]=df_geo["deadpooled_year"].fillna(0)
df_geo["number_of_employees"]=df_geo["number_of_employees"].fillna(0)
df_geo.isnull().sum()

index                   0
name                    0
category_code           0
description             0
founded_year            0
deadpooled_year         0
number_of_employees     0
total_money_raised      0
raised_money_dollars    0
tag_list                0
geo_point               0
lat                     0
lng                     0
dtype: int64

In [31]:
df_geo["founded_year"]=df_geo["founded_year"].astype('int')
df_geo["deadpooled_year"]=df_geo["deadpooled_year"].astype('int')
df_geo["number_of_employees"]=df_geo["number_of_employees"].astype('int')
df_geo.dtypes

index                     int64
name                     object
category_code            object
description              object
founded_year              int64
deadpooled_year           int64
number_of_employees       int64
total_money_raised       object
raised_money_dollars      int64
tag_list                 object
geo_point                object
lat                     float64
lng                     float64
dtype: object

In [33]:
df_geo = df_geo.drop(["total_money_raised"], axis=1)

In [34]:
df_geo

,index,name,category_code,description,founded_year,deadpooled_year,number_of_employees,raised_money_dollars,tag_list,geo_point,lat,lng
0,0,AdventNet,enterprise,Server Management Software,1996,2,600,0,,"{'type': 'Point', 'coordinates': [-121.904945,...",37.692934,-121.904945
1,1,Wetpaint,web,Technology Platform Company,2005,1,47,39800000,"wiki, seattle, elowitz, media-industry, media-...","{'type': 'Point', 'coordinates': [-122.333253,...",47.603122,-122.333253
2,1,Wetpaint,web,Technology Platform Company,2005,1,47,39800000,"wiki, seattle, elowitz, media-industry, media-...","{'type': 'Point', 'coordinates': [-73.9964312,...",40.723731,-73.996431
3,2,Zoho,software,Online Business Apps Suite,2005,3,1600,0,"zoho, officesuite, spreadsheet, writer, projec...","{'type': 'Point', 'coordinates': [-121.904945,...",37.692934,-121.904945
4,3,Digg,news,user driven social content website,2004,0,60,45000000,"community, social, news, bookmark, digg, techn...","{'type': 'Point', 'coordinates': [-122.394523,...",37.764726,-122.394523
5,4,Flektor,games_video,None,0,0,0,0,"flektor, photo, video","{'type': 'Point', 'coordinates': [-118.379768,...",34.025958,-118.379768
6,5,Postini,web,None,1999,0,0,0,,"{'type': 'Point', 'coordinates': [-122.247573,...",37.506885,-122.247573
7,6,Geni,web,Geneology social network site,2006,0,18,16500000,"geni, geneology, social, family, genealogy","{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064
8,7,Fox Interactive Media,web,,1979,0,0,0,,"{'type': 'Point', 'coordinates': [-118.39417, ...",34.076179,-118.394170
9,8,Gizmoz,web,Photo animation,2003,0,0,18100000,"avatar, widget, 3d, facial, taylor","{'type': 'Point', 'coordinates': [-122.169472,...",37.484130,-122.169472
10,9,Scribd,news,Read Unlimited Books,2007,0,50,25800000,"book-subscription, digital-library, netflix-fo...","{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052
11,10,Lala,games_video,hub for online music discovery,0,0,0,44200000,,"{'type': 'Point', 'coordinates': [-122.154369,...",37.451151,-122.154369
12,11,Helio,mobile,Mobile Virtual Network Operator,2005,0,0,0,"mobile, helio, mvno","{'type': 'Point', 'coordinates': [-118.446596,...",34.057498,-118.446596
13,12,Slacker,music,Music Personalization Suite,2006,0,0,73100000,,"{'type': 'Point', 'coordinates': [-117.081406,...",33.022176,-117.081406
14,13,MeetMoi,social,Mobile Dating,2007,0,15,5580000,"mobile, dating, location, realtime, phone","{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506
15,14,Twitter,social,Real time communication platform,2006,0,1300,1160000000,"text, messaging, social, community, twitter, t...","{'type': 'Point', 'coordinates': [-122.4169244...",37.776805,-122.416924
16,15,CBS,news,,1986,0,0,0,None,"{'type': 'Point', 'coordinates': [-119.306607,...",37.269175,-119.306607
17,16,Facebook,social,Social network,2004,0,5299,2430000000,"facebook, college, students, profiles, network...","{'type': 'Point', 'coordinates': [-122.151801,...",37.416050,-122.151801
18,16,Facebook,social,Social network,2004,0,5299,2430000000,"facebook, college, students, profiles, network...","{'type': 'Point', 'coordinates': [-6.267494, 5...",53.344104,-6.267494
19,16,Facebook,social,Social network,2004,0,5299,2430000000,"facebook, college, students, profiles, network...","{'type': 'Point', 'coordinates': [-73.9792469,...",40.755716,-73.979247
20,17,Babelgum,games_video,,2007,2013,0,13200000,"iptv, web2ireland","{'type': 'Point', 'coordinates': [-6.267494, 5...",53.344104,-6.267494
21,18,Viacom,web,TV production,1971,0,0,0,None,"{'type': 'Point', 'coordinates': [-73.986011, ...",40.757725,-73.986011
22,19,Plaxo,web,Contact Management,2002,0,50,28300000,"contact-management, address-book, sync, contac...","{'type': 'Point', 'coordinates': [-122.055197,...",37.387845,-122.055197
23,20,Joost,games_video,None,2006,0,0,45000000,"iptv, babelgum, television, video, thevenicepr...","{'type': 'Point', 'coordinates': [-74.0094471,...",40.746497,-74.009447
24,21,eBay,web,Online Marketplace,1995,0,15000,6700000,"auction, bid, search, market","{'type': 'Point', 'coordinates': [-121.930035,...",37.295005,-121.930035
25,22,Technorati,advertising,Advertising platform/Publisher network,2002,0,35,32100000,"blogs, search","{'type': 'Point', 'coordinates': [-122.393041,...",37.779558,-122.393041
26,23,Powerset,search,,2006,0,60,22500000,"searchengine, google, techcrunch40, natural-la...","{'type': 'Point', 'coordinates': [-122.395289,...",37.778613,-122.395289
27,24,Sparter,games_video,,2007,2008,0,0,"gaming, game, wow, worldofwarcraft, virtualgoods","{'type': 'Point', 'coordinates': [-95.712891, ...",37.090240,-95.712891
28,25,Mahalo,web,Life long learning content,2007,0,40,21000000,"search, search-engine, human-powered-search, aaa","{'type': 'Point', 'coordinates': [-118.487267,...",34.017606,-118.487267
29,26,Kyte,games_video,Online & Mobile Video Platform,2006,0,40,23400000,"video, mobile, iphone-app, video-platform, mob...","{'type': 'Point', 'coordinates': [-122.409173,...",37.788482,-122.409173
...,...,...,...,...,...,...,...,...,...,...,...,...
9678,8996,Chestnut Medical,biotech,,0,0,0,7800000,,"{'type': 'Point', 'coordinates': [-122.1717587...",37.481946,-122.171759
9679,8997,Luminus Devices,other,,2002,0,0,136000000,,"{'type': 'Point', 'coordinates': [-71.278022, ...",42.528635,-71.278022
9680,8998,Nellix,None,,0,0,0,6500000,,"{'type': 'Point', 'coordinates': [-122.1161779...",37.449972,-122.116178
9681,8999,Hellocoton,other,magazine and blog aggregator,2008,0,4,0,"blog, aggregator, women","{'type': 'Point', 'coordinates': [2.3389864, 4...",48.831850,2.338986
9682,9000,Buddhacom,search,SEO company Toronto,2008,0,8,0,"seo-toronto, seo, seo-company","{'type': 'Point', 'coordinates': [-79.4008589,...",43.676252,-79.400859
9683,9001,Emrise Corporation,hardware,,0,0,0,0,,"{'type': 'Point', 'coordinates': [-74.069035, ...",40.270986,-74.069035
9684,9002,Atlantic BT,web,"Web Development, Web Design",1998,0,30,0,"web-development, web-design, internet-marketin...","{'type': 'Point', 'coordinates': [-78.6806784,...",35.896906,-78.680678
9685,9003,AwardSpace,network_hosting,Web Hosting Services,2004,0,35,0,"free-webhosting, webhosting, vps, dedicated-se...","{'type': 'Point', 'coordinates': [10.1665152, ...",54.323738,10.166515
9686,9004,InstantQ,advertising,Last Minute Restaurant Deals,2009,0,3,0,,"{'type': 'Point', 'coordinates': [-122.036849,...",37.369195,-122.036849
9687,9005,SEO Sumo,public_relations,Strategic SEO Services,2009,0,5,0,"miami-seo, miami-seo-company, miami-seo-specia...","{'type': 'Point', 'coordinates': [-80.306331, ...",25.723408,-80.306331
9688,9006,NextLabs,enterprise,Information Risk Management Software,2004,0,100,0,,"{'type': 'Point', 'coordinates': [-122.301534,...",37.553121,-122.301534
9689,9007,acrossair,mobile,iPhone app house,2009,0,6,0,"iphone, games, augmented-reality","{'type': 'Point', 'coordinates': [-0.1165365, ...",51.517742,-0.116537
9690,9008,Cantimer,None,,2006,0,0,2000000,,"{'type': 'Point', 'coordinates': [-122.181753,...",37.484616,-122.181753
9691,9009,Cameron Health,medical,,2001,0,0,121000000,,"{'type': 'Point', 'coordinates': [-117.607717,...",33.448010,-117.607717
9692,9010,Celestial Semiconductor,semiconductor,,2004,0,0,2000000,,"{'type': 'Point', 'coordinates': [-121.92917, ...",37.386417,-121.929170
9693,9011,MyChances,consulting,College admissions predictions,2009,0,2,0,"college, college-admissions, predictions, stat...","{'type': 'Point', 'coordinates': [-119.8120795...",39.394564,-119.812079
9694,9011,MyChances,consulting,College admissions predictions,2009,0,2,0,"college, college-admissions, predictions, stat...","{'type': 'Point', 'coordinates': [-122.1802812...",37.448491,-122.180281
9695,9012,Purfresh,cleantech,,1996,0,0,62700000,,"{'type': 'Point', 'coordinates': [-122.151599,...",37.477008,-122.151599
9696,9013,Getyoo,mobile,NFC Events Solutions,2009,0,10,1266165,"social-networks, networking, web, real-life, w...","{'type': 'Point', 'coordinates': [4.3464721, 5...",50.839970,4.346472
9697,9014,InSound Medical,biotech,Hearing Devices,0,0,0,11000000,,"{'type': 'Point', 'coordinates': [-121.998513,...",37.512038,-121.998513
9698,9015,Axon Solutions,software,,2004,0,0,0,,"{'type': 'Point', 'coordinates': [-74.033251, ...",40.715887,-74.033251
9699,9016,Intergy,software,,2003,0,0,0,,"{'type': 'Point', 'coordinates': [-121.9366984...",37.701940,-121.936698
9700,9017,Willdan Group,other,,0,0,385,0,,"{'type': 'Point', 'coordinates': [-117.882314,...",33.806525,-117.882314
9701,9018,Contemporary Computer Services,software,,1974,0,0,0,,"{'type': 'Point', 'coordinates': [-73.08814, 4...",40.775055,-73.088140
9702,9019,EnterSys Group,software,,2000,0,0,0,,"{'type': 'Point', 'coordinates': [-95.5045451,...",29.848779,-95.504545
9703,9020,QSGI,software,,1967,0,164,0,,"{'type': 'Point', 'coordinates': [-80.041395, ...",26.705331,-80.041395
9704,9021,Oriact,software,Solutions for software development,2009,0,0,0,"collaboration, communication, appliance, softw...","{'type': 'Point', 'coordinates': [8.4371634, 4...",47.088219,8.437163
9705,9022,AfterLogic,software,.NET Email Components and Webmail,2002,0,0,0,,"{'type': 'Point', 'coordinates': [-74.3235539,...",40.793024,-74.323554
9706,9023,EnteGreat Solutions,software,,0,0,0,0,,"{'type': 'Point', 'coordinates': [-86.816068, ...",33.518885,-86.816068
9707,9024,EnteGreat,enterprise,,2000,0,0,0,None,"{'type': 'Point', 'coordinates': [-86.7613019,...",33.407786,-86.761302