In [11]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import pprint
import re
import requests as req

client = MongoClient('mongodb://localhost:27017/')
db = client.companies

PyMongo query to keep only companies with office longitude and latitude information available:

In [12]:
query={'$and': [{"offices.latitude":{'$not':{'$eq':None}}},{"offices.longitude":{'$not':{'$eq':None}}},{"offices.latitude":{'$exists':True}},{"offices.longitude":{'$exists':True}}]}
projection={'_id':0,'category_code':1,'name':1,'number_of_employees':1,'founded_year':1,'deadpooled_year':1,'tag_list':1,'description':1,'total_money_raised':1,"offices.latitude":1,"offices.longitude":1}
with_geoloc=db.companies.find(query,projection)

Make a dataframe from the previous query:

In [13]:
df=pd.DataFrame(with_geoloc)

Re-order columns:

In [15]:
df=df[['name','category_code','description','founded_year','deadpooled_year','number_of_employees','total_money_raised','tag_list','offices']]
df.head(3)

,name,category_code,description,founded_year,deadpooled_year,number_of_employees,total_money_raised,tag_list,offices
0,AdventNet,enterprise,Server Management Software,1996.0,2.0,600.0,$0,,"[{'latitude': 37.692934, 'longitude': -121.904..."
1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,"wiki, seattle, elowitz, media-industry, media-...","[{'latitude': 47.603122, 'longitude': -122.333..."
2,Zoho,software,Online Business Apps Suite,2005.0,3.0,1600.0,$0,"zoho, officesuite, spreadsheet, writer, projec...","[{'latitude': 37.692934, 'longitude': -121.904..."

Get exchange rate from API to "clean" currency:

In [17]:
url="https://api.exchangeratesapi.io/latest"
query_params={"base":"USD","symbols":["CAD","EUR","GBP","SEK"]}

res = req.get(url,params=query_params)
content=res.json()
rates=content["rates"]

rates

{'CAD': 1.3055728934,
 'EUR': 0.8916629514,
 'GBP': 0.7991529202,
 'SEK': 9.4492197949}

In [51]:
def money_dollars(s):
    mfloat=float(re.search("(\d*\.\d*|\d+)",s).group(1))
    if s.endswith("M"): mfloat*=1000000
    if s.endswith("B"): mfloat*=1000000000
    if s.endswith("k"): mfloat*=1000
    if s.startswith("C$"): mfloat*=1/rates["CAD"]
    if s.startswith("€"): mfloat*=1/rates["EUR"]
    if s.startswith("£"): mfloat*=1/rates["GBP"]
    if s.startswith("kr"): mfloat*=1/rates["SEK"]
    return round(mfloat)

df["raised_money_dollars"]=df.copy()["total_money_raised"].apply(money_dollars)
df=df[['name','category_code','description','founded_year','deadpooled_year','number_of_employees','total_money_raised',"raised_money_dollars",'tag_list','offices']]
df.reset_index(inplace=True)
df.head(3)

,index,name,category_code,description,founded_year,deadpooled_year,number_of_employees,total_money_raised,raised_money_dollars,tag_list,offices
0,0,AdventNet,enterprise,Server Management Software,1996.0,2.0,600.0,$0,0,,"[{'latitude': 37.692934, 'longitude': -121.904..."
1,1,Wetpaint,web,Technology Platform Company,2005.0,1.0,47.0,$39.8M,39800000,"wiki, seattle, elowitz, media-industry, media-...","[{'latitude': 47.603122, 'longitude': -122.333..."
2,2,Zoho,software,Online Business Apps Suite,2005.0,3.0,1600.0,$0,0,"zoho, officesuite, spreadsheet, writer, projec...","[{'latitude': 37.692934, 'longitude': -121.904..."

In [52]:
offices_list=df.copy()[["index","offices"]]
offices_list_clean= pd.DataFrame(offices_list["offices"].tolist()).stack().reset_index(level=1, drop=True).reset_index(name='offices')

display(offices_list_clean.head(3))

   index                                            offices
0      0  {'latitude': 37.692934, 'longitude': -121.904945}
1      1  {'latitude': 47.603122, 'longitude': -122.333253}
2      1  {'latitude': 40.7237306, 'longitude': -73.9964...

In [216]:
df.columns

Index(['_id', 'name', 'category_code', 'description', 'founded_year',
       'deadpooled_year', 'number_of_employees', 'total_money_raised',
       'raised_money_dollars', 'tag_list', 'offices'],
      dtype='object')